<mat-drawer-container hasBackdrop="true" >

    <mat-drawer #drawer class="example-sidenav" mode="over" style=" overflow: hidden;">
        <!-- <ul *ngFor="let item of sideNavMenu">
            <li><a [routerLink]="[item.link]" (click)="toggelNavbar()" routerLinkActive="active">{{item.title}}</a></li>
        </ul> -->
        <app-sidenav (sidenav)="toggelNavbar($event)"></app-sidenav>
    </mat-drawer>
    <app-header (sidenav)="toggelNavbar($event)"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</mat-drawer-container>