.example-container {
    height: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  mat-drawer-container {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
  }