.search-box{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.3);
    margin-top: 35px;
    display: flex;
}
.search-text {
    padding: 10px;
    flex: 20;
    font-size: 12px;
    color: #656565;
    line-height: 1.5;
}
.icon{
    border-right: 1px solid lightgrey;
    margin: 5px;
}
.icon , .close{
    flex: 1;
    color: #656565;
}

.leftIcon {
    padding: 2px; 
    padding-left: 7px;
}


.products-container{
    background: #f8f9fa !important;
  //  padding: 1em 0;
    position: relative;
}

.title {
    border-left: 5px solid #3f51b5;
    padding-left: 10px;
    position: relative;
    font-size: 30px;
    font-weight: normal;
    color: #000000;
    margin-left: 2%;
    margin-right: 2%;
}
.viewAllBtn{
    float: right;
    margin-top: 10px;
    border-radius: 0;
}
.body{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.body .productImg {
    padding: 18px;
    width: 100%;
    height: 200px;
}



.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mobile-view{
    display: none;
}

.mobile-view .mobile-card {
    width: 48%;
    text-align: center;
    background: #fff;
    margin: 2px;
}

@media (max-width: 1080px) {
    .products-container {
        display: none;
    }
    .mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .title {
        border-left: 5px solid #3f51b5;
        padding-left: 10px;
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color: #000000;
        margin-left: 0.5%;
        width: 100%;
        margin-bottom: 20px;
    }
}